
.jumbotron{
    background: url(images/page.png);
    background-size: cover;
    min-height: 1090px;
}

#table{
    margin-top: 10%;
    background-color: aliceblue;
}

#Add-Student{
    margin: 20px;
    padding: 6px;
    
}

.btn-sm.round{
    width: 100px;
    border-radius: 24px;
    background-color: aliceblue;
    border-width: .25px;
    border-color: #00263E;
    font-size: medium;
    text-align: center;
}

tr.clickable-row:hover{
    background-color: #00263E;
    color: aliceblue;
}